@model Domain_CryptoCenter.Domain.CompraInvestimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompraInvestimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestimentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestimentoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompraInvestimentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
