@model Domain_CryptoCenter.Domain.CompraInvestimento

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Investimento</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investimento.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investimento.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
