@model IEnumerable<Domain_CryptoCenter.Domain.CompraInvestimento>

@{
    ViewBag.Title = "Index";
}

<h2>Investimentos</h2>

<p>
    @Html.ActionLink("Comprar investimento", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investimento.QuantidadeDisponivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investimento.Descricao)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Investimento.QuantidadeVendida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Investimento.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modeItem => item.Investimento.QuantidadeVendida)
        </td>
        @if (Session["Id"] != null)
        {
            if (Session["Nome"].Equals("admin"))
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CompraInvestimentoId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CompraInvestimentoId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.CompraInvestimentoId })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CompraInvestimentoId }) |
                </td>
            }
        }

    </tr>
}

</table>

<div>
    @using (Html.BeginForm())
    {
        @Html.TextBox("invest", "", new { @class = "form-control", @placeholder = "Buscar" })
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    }
</div>

