@model Domain_CryptoCenter.Domain.Investimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVendida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeVendida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
