@model IEnumerable<Domain_CryptoCenter.Domain.Investimento>

@{
    ViewBag.Title = "Investimentos";
}

<h2>Criar investimento</h2>

<p>
  @Html.ActionLink("Criar novo investimento", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeVendida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeVendida)
        </td>
         <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.InvestimentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.InvestimentoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.InvestimentoId })
        </td>
    </tr>
}

</table>
